{% load static %}
<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>G-BASE Welcome</title>
        <link rel="stylesheet" href="{% static 'css/team_join.css' %}" />
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
    </head>
{% include "components/header.html" %}
<body>
<main class="container">
    <h2>&gt;&gt;Join Team</h2>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <form action="{% url 'teams:join' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="invite_code">招待コード</label>
            <input type="text" id="invite_code" name="code" required>
        </div>

        <div class="actions">
            <button type="submit">Join</button>
        </div>
    </form>

    <div class="links">
        <a href="{% url 'teams:create' %}">Create Team</a>
    </div>
</main>
</body>
</html>
