<!---各クエストをカード表示するための部品-->

<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="stylesheet" href="../../static/css/quest_card.css" />

<section class="quest-section">
	<h2 class="quest-title">&gt;&gt;Daily Quest</h2>

	<div class="quest-grid">
		<div class="quest-card">
			<!--変数ここから-->
			<div class="quest-name">腕立て伏せ</div>
			<div class="quest-footer">
				<span class="quest-difficulty">HARD</span>
				<span class="quest-count">30回</span>
			</div>
		</div>

		<div class="quest-card">
			<div class="quest-name">V字バランス腹筋</div>
			<div class="quest-footer">
				<span class="quest-difficulty">HARD</span>
				<span class="quest-count">25回</span>
			</div>
		</div>

		<div class="quest-card">
			<div class="quest-name">ジャンピングランジ</div>
			<div class="quest-footer">
				<span class="quest-difficulty">HARD</span>
				<span class="quest-count">30回</span>
			</div>
		</div>

		<div class="quest-card">
			<div class="quest-name">スローワイドスクワット</div>
			<div class="quest-footer">
				<span class="quest-difficulty">HARD</span>
				<span class="quest-count">20回</span>
				<!--ここまで-->
			</div>
		</div>
	</div>
</section>
